/* CSS Header Wrapper START */

.wrapper {
    height: 30vh;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.wrapper, .navbar {
    background-color: #45555e;
}

/* CSS Header Wrapper END */

/* CSS for navbar on mobile START */

.dotsWrapper {
    display: flex;
    justify-content: flex-end;
}

.navDots:after {
    content: '\2807';
    font-size: 3em;
    color: white;
}

.navDots {
    display: inline-block;
    margin: 1.5em;
    font-size: 1.25em;
    transform: rotate(90deg);
    transition: ease-in 2s;
}


/* CSS for navbar on mobile END */


/* CSS for navbar on desktop START */

.navbarNav {
    display: flex;
    color: white;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    font-size: 1.5em;
    margin: 2em 0;
}

.navbarNav > li {
    display: inline-block;
    position: relative;
    margin-right: 3em;
}

/* CSS for navbar on desktop END */


/* CSS header Logo START */

.logo {
    display: flex;
    margin: 1.5em;
    max-width: 70px;
    max-height: 70px;
}

/* CSS header Logo END */

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }

/* CSS desktop breakpoint Start */

@media screen and (min-width: 430px) {
    .navDots {
        display: none;
    }

    .navbarNav >li :after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        top: 1.2em;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.35s ease-out;
      }
      
    .navbarNav >li :hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    }
}

/* CSS desktop breakpoint End */

/* CSS mobile breakpoint Start */

@media  screen and (max-width: 430px) {
    .static > li {
        display: none;

    }

    .navbar {
        height: 0px;
    }

    .responsive {
        animation: fadein 1s;
        position: absolute;
        top: 60px;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: 25vh;
        background-color: #45555e;
        z-index: 999;
    }

    .responsive li {
        text-align: center;
        margin: 0.5em;
    }

    .responsive li a {
        color: white;
        width: 100%;
        padding: 1.5rem 0;
    }
}

/* CSS mobile breakpoint End */