.wrapper {
    display: flex;
    flex-direction: column;
    margin: 2em;
    max-width: 400px;
    transform: translateY(-60%);
}

.label {
    margin-bottom: 1em;
    font-size: 1.5em;
}

.select {
    font-size: 1.5em;
    padding: 0.3em ;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    cursor: pointer;
}

