/* CSS footer wrapper Start */

.wrapper {
    padding: 0;
    margin: 0;
    background-color: #45555e;
    border-top: solid 3px white;
}

/* CSS footer wrapper End */

/* CSS display container Start */

.main, .socialNetworks, .contact, .informations, .logoWrapper, .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backgroundLogo {
    display: inline-block;
    margin-top: 3em;
    cursor: pointer;
}

/* CSS display container End */

/* CSS content Start */

.socialNetworks, .contact, .informations {
    margin: 1.5em 0;
}

.logoWrapper {
    flex-direction: row;
}

.socialNetworksLogo {
    margin: 0.75em;
}

.contact > * {
    margin: 0.2em;
}

.contact, .copyright {
    padding: 0;
} 


.informations > * {
    margin: 0.75em;
}

.informations > a:hover, .contact > a:hover {
    font-weight: bold;
}

/* CSS content End */

/* CSS desktop breakpoint Start */

@media screen and (min-width: 430px) {
    .main {
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }
}

/* CSS desktop breakpoint End */


