
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }

.header {
    display: flex;
    flex-direction: column;
}

.backgroundBrand {
    animation: fadein 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #45555e;
    height: 100vh;
};



