
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }

/* CSS display header wrapper Start */

.header, .backgroundBrand {
    display: flex;
}

.header {
    flex-direction: column;
}

/* CSS display header wrapper End */

/* CSS background image Start */

.backgroundBrand {
    animation: fadein 2s;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #45555e;
    height: 100vh;
};

/* CSS background image End */



