/* CSS main wrapper Start  */

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    transform: translateY(-5%);
}

/* CSS main wrapper End  */


