/* CSS Benefits & Rates component wrapper Start */

.wrapper {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin:auto;
    background:linear-gradient(black,black) bottom /* left or right or else */ no-repeat;
    background-size:30% 1px;
    padding: 1em;
}

/* CSS Benefits & Rates component Wrapper End */


/* CSS Benefits & Rates component content  Start */

.label {
    color: #45555e;
}

.description, .price {
    color: black;
}

.description {
    font-size: 1.2em;
    text-align: justify;
}

.price {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 1.3em;
}

/* CSS Benefits & Rates component content  End */

/* CSS ipad breakpoint Start */

@media screen and (min-width: 820px) {
    .wrapper {
        width: 750px;
    }
}

/* CSS ipad breakpoint End */

/* CSS desktop breakpoint Start */

@media screen and (min-width: 1200px) {
    .wrapper {
        width: 1150px;
    }
}
/* CSS desktop breakpoint End */