
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }

.pictureWrapper {
    animation: fadein 1.5s;
    position: relative;
    display: flex;
    margin: 1em 1em;
    padding: 0;
}

.picture {
    border-radius: 5%;
    z-index: 100;
    transition: all 2s ease-out;
}

.picture:hover {
    opacity: 15%;
}

.picturetitle, .description {
    position: absolute;
    color: #45555e;
    top: 0;
    left: 1em;
    right: 1em;
    z-index: 99;
}

.description {
    position: absolute;
    color: black;
    top: 4em;
    left: 1em;
    z-index: 99;
    text-align: justify;
}