/* CSS form wrapper Start */

.wrapper, .wrapper > div {
    display: flex;
    flex-direction: column;
    width: 350px;
}

/* CSS form wrapper End */

/* CSS form content Start */

.input, .subButton {
    padding: 1em;
    margin-bottom: 3em;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.label, .subButton {
    font-weight: bold;
}

.label {
    margin-bottom: 0.75em;
    color: #45555e;
    font-size: 1.1em;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.message {
    font-family: 'Arsenal', sans-serif;
}

/* CSS form content End */

/* CSS submit button Start */

.subButton {
    border: none;
    background-color: #45555e;
    color: white;
    padding: 1em 3em;
    transition: linear 0.5s;
}

.subButton:hover {
    opacity: 80%;
}

.subButton:active {
    transition: linear 0.2s;
    opacity: 100%;
}

/* CSS submit button End */

/* CSS ipad breakpoint Start */

@media screen and (min-width: 820px) {
    .input {
        width: 375px;
    }
    
    .message, .buttonContainer {
        width: 750px;
    }
}

/* CSS ipad breakpoint End */

/* CSS desktop breakpoint Start */

@media screen and (min-width: 1200px) {
    .input {
        width: 575px;
    }

    .message, .buttonContainer {
        width: 1150px;
    }
}

/* CSS desktop breakpoint End */