/* CSS main wrapper Start */

.contentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* CSS main wrapper End */

/* CSS select input container Start */

.selectorContainer {
    display: flex;
    justify-content: center;
}

/* CSS select input container End */
