/* CSS main description photo wrapper Start */

.photoWrapper {
  margin: 0;
  padding: 0;
}

/* CSS main description photo wrapper End */

/* CSS main wrapper Start */

.main {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* CSS main wrapper End */

/* CSS main content Start */

.content {
  position: absolute;
  margin: 1.5em;
  max-width: 350px;
  text-align: justify;
}

.description {
  top: 70%;
}

.descriptionOptionalOne {
  top: 50%;
}

.descriptionOptionalTwo {
  top: 30%;
}

.descriptionOptionalOne, .descriptionOptionalTwo {
  display: none;
}

/* CSS main content Start */

/* CSS desktop breakpoint Start */

@media screen and (min-width: 430px) {
  .content {
    left: 15%;
    max-width: 450px;
  }

  .descriptionTitle {
    top: 10%;
  }

  .descriptionOptionalOne, .descriptionOptionalTwo {
    display: block;
  }
}

/* CSS desktop breakpoint End */